:root{
    --first-color: rgb(217,0,98);
    --black-color:#000; 
    --white-color:#fff;
        
    --font:"Raleway", sans-serif;  
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;    
    background-color: var(--white-color);
    color: var(--black-color);
}

body {
    line-height: 1.6;    
    padding-top: 80px;
}

/* COMPONENT NAVBAR */

.navbar-brand{
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5rem;    
}

.nav-link,
.dropdown-item{
    color: var(--first-color); 
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;    
}

.nav-link:hover,
.dropdown-item:hover{
    color: var(--white-color);
    background-color: var(--first-color);
}